footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: blanchedalmond;
    opacity: 0.9;
    text-align: center;
    a{
    color: blanchedalmond;
    }
}