@import "../core/variables.scss";
@import "../core/mixins.scss";

.header {
  position: fixed;  
    z-index: 1;
  width: 100%;
    .navbar-expand-lg  .navbar-collapse{
        justify-content: flex-end;
    }
    
  .navbar-nav {
    color: white;
    .dropdown-item {
      color: white;
    }
  }
}
