.card--img {
  width: 15rem;
    height: 20rem;
}

ul {
  padding-left: 0px;
}

.container {
  .list-group-item-dark {
      a{
    color: #212529 !important;
    text-decoration: none;
    text-align: center;
      }
  }
}
