@import "../core/mixins.scss";

.modal-fullscreen .modal-content {
  .modal-body {
    justify-content: center;
    align-items: center;
    display: flex;
    @include tablet {
      margin-bottom: 5rem;
    }
    .card {
      max-width: fit-content;
      margin: 1rem auto 2rem auto;
      align-items: center;
      justify-content: center;
      @include tablet {
        top: 3%;
        flex-direction: row;
        min-width: max-content;
      }
      .card-img-top {
        @include tablet {
          width: 20rem;
          padding: 2rem;
        }
      }
      .card-text {
        margin-top: 2rem;
        padding: 0.5rem;
        background-color: #e9ecef;
      }
    }
  }
}
