@import "../core/mixins.scss";


.list-group-item {
    margin: 0.1rem;
    width: min-content;
    min-width: 300px;
    min-height: 500px;
}

.list-group {
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
    @include tablet {
    margin-bottom: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
}